@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  margin-top: 70px;
}

h1 {
  margin: 10px;
  padding: 0;
}

/*nav*/

.nav {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding-bottom: 20px;
  padding-top: 10px;
  margin: 0;
  top: 0;
  left: 0;
  position: fixed;
  overflow: auto;
  background-color: white;
  z-index: 1100;
  width: 100%;
  border-bottom: 1px solid black;
}

.nav-el {
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.nav-el:hover,
.nav-el:focus {
  color: red;
}

.active {
  color: red;
}


/*title-list*/

.title {
  margin-left: 0;
  padding-left: 0px;
}

.title-el {
  color: blue;
  cursor: pointer;
  text-decoration: none;
}

/*searchbar*/

.form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input {
  width: 200px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 3px;
  font-size: 14px;
}

.btn {
  height: 30px;
  padding: 0 15px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}

/*moviesdetails*/

.movie-details {
  margin: 0 auto;
}

.go-back-link {
  margin-top: 0;
  margin-left: 10px;
  padding-top: 0;
  text-decoration: none;
  color: black;
  font-size: x-small;
}

.details-container {
  display: flex;
  padding-bottom: 30px;
}

.movie-poster {
  width: 20%;
  height: 45%;
  object-fit: cover;
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.release-year {
  font-size: 15px;
}

.section-title {
  margin-top: 20px;
  font-size: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.overview {
  margin-top: 10px;
  font-size: small;
  line-height: 1.4;
}

.genres-list {
  margin-top: 10px;
  padding-left: 0;
  list-style: none;
}

.genre {
  display: inline-block;
  margin-right: 10px;
  line-height: 1.4;
  font-size: small;
}

.additional-info {
  display: flex;
  flex-direction: column;
  font-size: large;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.additional-info-title {
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
}

.additional-info-link {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 15px;
  margin-bottom: 5px;
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

.additional-info-link:hover {
  text-decoration: underline;
}

.line-after-genres {
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}

/*cast*/

.cast-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cast-wrapper {
  width: 80px;
  height: 100px;
  margin-right: 10px;
}

.cast-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cast-info {
  display: flex;
  flex-direction: column;
}

.cast-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.cast-character {
  font-size: 14px;
}

/*review*/

.review-list {
  margin-bottom: 20px;
  list-style-type: none;
}

.review-author {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.review-content {
  font-size: 14px;
  line-height: 1.4;
}
